@use "../global" as g;

// Layout
//---------------------
.l-header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	padding-inline: 3%;
	border-bottom: 1px solid #ababab;

	+ * {
		margin-top: 60px;
	}
}
