.l-header {
  padding-inline: 3%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.p-navigation-global__list {
  gap: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.p-navigation-global__list-item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.p-navigation-global__list-item a {
  font-weight: 700;
  padding: 20px 5px;
}

.p-megaMenu {
  position: relative;
}

.p-megaMenu.is-open .p-megaMenu__navigation {
  -webkit-clip-path: inset(0 -50vw);
  clip-path: inset(0 -50vw);
  visibility: visible;
}

.p-megaMenu.is-open .p-megaMenu__open::after {
  rotate: 180deg;
}

.p-megaMenu__link {
  position: relative;
}

.p-megaMenu__link::after {
  border: 1px solid #000;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 20px);
}

.p-megaMenu__open {
  font-weight: 700;
  margin-left: -0.3em;
  padding: 20px 15px 22px 5px;
}

.is-touch-or-mobile .p-megaMenu__open {
  position: relative;
}

.p-megaMenu__navigation {
  -webkit-clip-path: inset(0 -50vw 100%);
  background: #eee;
  clip-path: inset(0 -50vw 100%);
  left: 0;
  padding: 20px;
  position: absolute;
  top: 100%;
  transition: all 0.4s;
  visibility: hidden;
  width: 100%;
}

.p-megaMenu__list {
  gap: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: -moz-fit-content;
  width: fit-content;
}

.p-megaMenu__list-item a {
  gap: 0.5em;
  align-items: center;
  display: inline-flex;
  padding: 5px 10px;
}

.p-megaMenu__list-item a::before {
  background-color: currentColor;
  content: "";
  display: block;
  height: 1px;
  width: 0.5em;
}

@media (min-width: 768px) {
  .p-navigation-global__list {
    gap: 40px;
  }

  .p-megaMenu__navigation {
    padding: 40px;
  }

  .p-megaMenu__list {
    gap: 10px 30px;
    flex-direction: row;
  }

  .p-megaMenu__list-item a {
    padding: 20px 20px;
  }
}