@use "../global" as g;

.c-title {
	position: relative;
	padding-bottom: 0.5em;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;

	&::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 3em;
		height: 3px;
		content: "";
		background-color: #333;
		border-radius: 50px;
		transform: translateX(-50%);
	}

	@include g.mq("md") {
		font-size: 34px;
	}
}
