@charset "UTF-8";

.l-header {
  padding-inline: 3%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.l-header + * {
  margin-top: 60px;
}

.p-navigation-global__list {
  gap: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.p-navigation-global__list-item a {
  font-weight: 700;
  padding: 20px 5px;
}

.p-megaMenu.is-open .p-megaMenu__navigation {
  -webkit-clip-path: inset(0 -50vw);
  clip-path: inset(0 -50vw);
  visibility: visible;
}

.p-megaMenu.is-open .p-megaMenu__open::after {
  rotate: 180deg;
}

.p-megaMenu__open {
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  padding: 20px 5px;
  transition: opacity 0.3s;
}

.p-megaMenu__open::after {
  content: "∨";
  padding-bottom: 0.2em;
  transition: rotate 0.3s;
}

.p-megaMenu__navigation {
  -webkit-clip-path: inset(0 -50vw 100%);
  background: #eee;
  clip-path: inset(0 -50vw 100%);
  left: 0;
  padding: 20px;
  position: absolute;
  top: 100%;
  transition: all 0.4s;
  visibility: hidden;
  width: 100%;
}

.p-megaMenu__list {
  gap: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: -moz-fit-content;
  width: fit-content;
}

.p-megaMenu__list-item a {
  gap: 0.5em;
  align-items: center;
  display: inline-flex;
  padding: 5px 10px;
}

.p-megaMenu__list-item a::before {
  background-color: currentColor;
  content: "";
  display: block;
  height: 1px;
  width: 0.5em;
}

@media (min-width: 768px) {
  .p-navigation-global__list {
    gap: 40px;
  }

  .p-navigation-global__list-item a {
    padding: 20px 10px;
  }

  .p-megaMenu__open {
    padding: 20px 10px;
  }

  .p-megaMenu__navigation {
    padding: 40px;
  }

  .p-megaMenu__list {
    gap: 10px 30px;
    flex-direction: row;
  }

  .p-megaMenu__list-item a {
    padding: 20px 20px;
  }
}

@media (min-width: 768px) and (hover: hover) {
  .p-megaMenu:hover .p-megaMenu__navigation,
  .p-megaMenu:focus-within .p-megaMenu__navigation {
    -webkit-clip-path: inset(0 -50vw);
    clip-path: inset(0 -50vw);
    visibility: visible;
  }

  .p-megaMenu:hover .p-megaMenu__open::after,
  .p-megaMenu:focus-within .p-megaMenu__open::after {
    rotate: 180deg;
  }
}

@media (hover: hover) {
  .p-navigation-global__list-item a:hover {
    text-decoration: underline;
  }
}