@use "../global" as g;

// Project
//---------------------
// .p-navigation-global

.p-navigation-global__list {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;

	@include g.mq("md") {
		gap: 40px;
	}
}

.p-navigation-global__link {
	padding: 20px 5px;
	font-weight: 700;
	@include g.hover-link;
}

// .p-megaMenu
.p-megaMenu {
	@mixin megaMenuToggle() {
		.p-megaMenu__navigation {
			clip-path: inset(0 -50vw);
			visibility: visible;
		}

		.p-megaMenu__open {
			padding: 20px 5px 20px 15px;
			rotate: 180deg;
		}
	}

	@media (min-width: 768px) and (hover: hover) {
		&:hover {
			@include megaMenuToggle;
		}
	}

	&.is-open {
		@include megaMenuToggle;
	}
}

.p-megaMenu__link {
	position: relative;
	padding: 20px 0 20px 10px;
	font-weight: 700;
	cursor: pointer;
	@include g.hover-link;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: calc(100% + 31px);
		height: 100%;
		cursor: pointer;
		content: "";
	}
}

.p-megaMenu__open {
	position: relative;
	z-index: -1;
	padding: 20px 15px 20px 5px;
	font-weight: 700;
	cursor: pointer;
	transition: padding 0.3s, rotate 0.3s;

	.is-touch-or-mobile & {
		z-index: 2;
	}
}

.p-megaMenu__navigation {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 20px;
	clip-path: inset(0 -50vw 100%);
	visibility: hidden;
	background: #eee;
	transition: all 0.4s;

	@include g.mq("md") {
		padding: 40px;
	}
}

.p-megaMenu__list {
	display: flex;
	flex-direction: column;
	gap: 0;
	width: fit-content;
	max-width: 600px;
	margin-inline: auto;

	@include g.mq("md") {
		flex-direction: row;
		gap: 10px 30px;
	}
}

.p-megaMenu__list-item {
	a {
		display: inline-flex;
		gap: 0.5em;
		align-items: center;
		padding: 5px 10px;
		font-weight: 700;
		@include g.hover-link;

		@include g.mq("md") {
			padding: 20px 20px;
		}

		&::before {
			display: block;
			width: 0.5em;
			height: 1px;
			content: "";
			background-color: currentColor;
		}
	}
}
