@use "../global" as g;

.p-navigation-top {
	min-width: 250px;
	padding: 20px 20px;
	margin-top: 2em;
	background-color: g.$cr-bg-gray;
	border-radius: 4px;
	width: fit-content;
	margin-inline: auto;

	@include g.mq("md") {
		margin-top: 4em;
		padding: 20px 40px;
	}
}

.p-navigation-top__title {
	font-size: 22px;
	font-weight: 700;
}

.p-navigation-top__lists {
	margin-top: 0.5em;
}

.p-navigation-top__link {
	display: inline-block;
	padding: 0.2em 0;
	text-decoration: underline;
}
